
h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(74, 76, 190, 0.8);
}
nav{
    color: rgba(229, 241, 235, 0.5);
    text-align: center;
    background-color:rgb(20, 3, 3);
    padding: 25px;
}
nav {
    font-size: 25px;
    font-weight: bold;
    color:rgb(210, 227, 231);
    padding: 0 50px;
    text-decoration: none;
}
aside{
    font-size: 20px;
    float:left;
    width: 20%;
    padding: 20px;
    padding-bottom: 200px;
    margin: 2px;
    font-style:italic;
}
aside h3{
    font-family: cursive;
    color: rgba(168, 45, 45, 0.733);
}
aside ul{
    color:rgb(202, 22, 133);
    list-style: square;
    font-weight:bold ;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(168, 45, 45, 0.733);
    text-align: center;
}

p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:justify;
    padding-top:30px;
    padding-right:10px;
    color:rgb(202, 22, 133);

}
main img{
    height: 210px;
    width: 420px;
    padding: 10px 20px;
    width:72%
}

footer{
    border-top: black;
    text-align: center;
    color:blanchedalmond;
    background-color:#6727ce ; 
    font-weight: bold;
    font-size:15pt;
    margin:11px;
    padding: 20px 10px;
}
