.table-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.table-container td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.table-container tr:nth-child(even) {
    background-color: #dddddd;
}